---
title: home
---

<div class="banner">
  <img src="/assets/img/code.png" alt="">
</div>

<div class="left">
  <!-- <img src="/assets/img/beach.jpg" alt=""> -->
  <div class="top">
    <h1>Awesome</h1>
  </div>
  <h2>Web Design</h2>
    <img src="/assets/img/dev.jpg" alt="">
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
</div>

<div class="right">
  <h3>Contact Our Offices</h3>
    <p>Monday-Friaday: 9 a.m.-5 p.m.</p>
    <p>Call now for a FREE quote!</p>
    <p>1-(800)-222-2222</p>
  <h2>Fast and Professional</h2>
  <div class="textover">
    <p><dev=house></p>
  <img src="/assets/img/co-coder.jpeg" alt="">
  </div>
  <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
</div>
